.aboutDescription
{
	color: #4a4a4a;
	line-height: 2.5em;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #2BD094 solid;
}

.newsletter
{
	padding-top: 0;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #2BD094;
}

.newsletter img,.timelineHor
{

	width:	80%;
	margin: 40px auto;

}

.timelineHor
{
	display: none;
	
}




.executives
{
	border-bottom: 1px solid #2BD094;
}

.potrait
{
	width: 150px;
	height: 150px;
	background: #4a4a4a;
	border-radius: 100px;
	margin: 10px;
}

.name
{
	margin: 40px;
}

.name h3 
{
	color: #4a4a4a;
	font-size: 15px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.name h4
{
	font-size: 20px;
	color: #4a4a4a;
	margin-bottom: 10px;
}

.president
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.president .potrait
{
	width: 200px;
	height: 200px;
}

.president h3
{
	font-size: 20px;
}

.president h4
{
	font-size: 25px;
}

.volunteer h2
{
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.timelineVer
	{
		display: none;
	}

	.timelineHor
	{
		display: block;
	}

	#bar
	{
		display: none;
	}

	.blue:hover
	{
		fill: #0086CE;
		transition: .5s;
	}
	
	
	.volunteer .promoText h2
	{
		width: 1000px;
	}


}
