
	

.promo
{
	background-image: url(../images/events/hero_events.png)
}

.promoText
{
	margin: 0 auto;
	max-width: 80vw;
}

.promoText h2
{
	text-align: center;
	font-weight: lighter;
	font-size: 30px;
	line-height: 1.5em;
}

.container
{
	max-width: 4000px;
	margin: 0 auto;
}


.boxes
{
	justify-content: center;
	position: relative;
	align-items: center;
}

.box
{
	max-width: 320px;
	height: 320px;
	margin: 8px;
	position: relative;
	overflow: hidden;
	
}



.eventsSection img
{
	width: 100%;
	height: 100%;
	object-fit: cover;



}



.gradient
{
	position: absolute;
	background-image: linear-gradient(to bottom, #37cf95, #00c1b6, #00b0ce, #009bd5, #3a84ca);
	opacity: .5;
	width: 100%;
	height: 100%;
}

.eventName
{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100px;
}

.eventName h3
{
	font-size: 40px;
	text-align: justify;
	width: 200px;
}

.seemoreEvent
{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 20px 40px;
	font-size: 15px;
}

.popup
{
	max-width: 100%;
	background: #fafafa;
	position: absolute;
	z-index: 1;
	display: none;
}

.openPopup
{
	display: block;
}

.closeBtn
{
	font-size: 80px;
	cursor: pointer;
	position: absolute;
	color: white;
	z-index: 1;
}


.closeBtn:active
{
	color: #232323;
	transition: .2s;

}


.contentImg
{
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentImg h3
{
	position: absolute;
	font-size: 30px;
}

.text
{
	height: 300px;
	overflow: scroll;
	overflow-x: hidden;
}

.text p
{
	color: #232323;
}

br
{
	line-height: 40px;
}

.overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, #37cf95, #00c1b6, #00b0ce, #009bd5, #3a84ca);
	opacity: .6;
}


@media screen and (min-width: 768px){
	.popup
	{
		max-width: 80%;
	}

	.promoText h2
	{
		font-size: 40px;
	}
}


@media screen and (min-width: 1024px) {
	
	.popup
	{
		max-width: 50%;
	}

	.box
	{
		min-width: 350px;
		height: 350px;
	}
	
	

	.eventTop
	{
		position: absolute;
		transform: translateY(100%);
		transition: .2s;
		width: 100%;
		height: 100%;
	}

	.box:hover .eventTop
	{
		transform: translateY(0);
	}

}
