.promo
{
	background-image: url(../images/shop/hero_shop.png)
}


.productSection
{
	flex-wrap: wrap;
	margin-bottom: 100px;
	
}

.promoText
{
	margin: 0 auto;
	max-width: 80vw;
}

.promoText h2
{
	text-align: center;
	font-weight: lighter;
	font-size: 30px;
	line-height: 1.5em;
}



@media screen and (min-width: 768px) {
	

	.promoText h2
	{
		font-size: 40px;
	}

	

}

@media screen and (min-width: 1024px) {

	.product2
	{
		position: relative;
		top: 90px;
	}

}